@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-09-06 07:58:21
 * @version $Id$
 */
div{
	width: 200px;
	height: 200px;
	background-color: red;
}
span{
	color: white;
}